body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.Main {
  text-align: center;
  background: #f5f5f5;
  color: #333;
  margin: 20px;
  padding: 20px;
}


.GMap {
  height: 25.000em;
  position: inherit;
  width: 30.000em;
}
.GMap-canvas {
  top: 20px;
  display: block;
  width: 30.000em;
  height: 25.000em;
}
